<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/assets/img/favicon.png"/>
        <title>{{ title }}</title>
        <style>
            @font-face {
                font-family: "museo";
                src: url(/assets/fonts/MuseoSans_700.ttf);
            }
            @font-face {
                font-family: "johntape";
                src: url(/assets/fonts/JohnTapePlain.ttf);
            }
            @font-face {
                font-family: "roboto";
                src: url(/assets/fonts/Roboto-Regular.ttf);
            }
        </style>
        <link rel="stylesheet" type="text/css" href="/assets/main.css">    
    </head>
    <body>
        {% include '_nav.njk' %}
        <div id="cup-wrapper">
            <img id="cup" src="/assets/img/{{item.data.cup}}">
        </div>
        <header id="_header" class="container-fluid">
            {% block header %}
            {% endblock %}
        </header>
        <main class="container-fluid _content">
            {% block content %}
                {{content}}
            {% endblock %}
        </main>
        {% block footer %}
            {% include '_footer.njk' %}
        {% endblock footer %}
    </body>
</html>