<div class="row" style="background-image: url(/assets/img/{{item.data.header_img}})">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-sm-none d-md-block"></div>
            <div id="logo" class="col-md-6 col-xl-3 festival" style="background-image: url(/assets/img/{{item.data.logo}})"></div>
        </div>
        <div id="cup_start_festival">
            <div id="heading_festival" class="col-md-4" style="background-image: url(/assets/img/{{item.data.heading}})"></div>
        </div>
    </div>
</div>
<div id="splashes_header" class="festival" style="background-image: url(/assets/img/{{item.data.splashes}})"></div>
